
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Ironbeers</title>
		<link rel="stylesheet" href="./styles/style.css" />
	</head>
	<body>
		<nav>
			<a href="/">Home</a>
			<a href="/beers">Beers</a>
			<a href="/random-beer">Random Beers</a>
		</nav>

        {{!-- in your layout, the body has 3 {} around it to set that it is the location to display your hbs file content {{{body}}} --}}
        {{{body}}}

        <footer>
            <h4>Made with 👽 at Ironhack!</h4>
        </footer>

        {{!-- <script src="./scripts/script.js"></script> --}}
	</body>
</html>